/*====== section 1 ===========*/
.section1{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    

}
.s1_left_side{
    width: 50%;
    padding: 40px;
}

.s1_left_side > h1{
    font-size: 30px;
}

.s1_left_side > ul{

}
.heighLisht{
    color:#ff9800
}

.s1_left_side > ul > li {
    color: #333;
    display: inline-block;
}


.s1_right_side{
    width: 50%;
    padding: 40px;
}






.feedback-input {
    color:black;
    font-family: Helvetica, Arial, sans-serif;
    font-weight:500;
    font-size: 18px;
    border-radius: 5px;
    line-height: 22px;
    background-color: transparent;
    border:2px solid #ffeb3b;
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width:100%;
    box-sizing: border-box;
    outline:0;
  }
  
  .feedback-input:focus { border:2px solid #ff9800; }
  
  textarea {
    height: 150px;
    line-height: 150%;
    resize:vertical;
  }
  
  [type="submit"] {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    width: 100%;
    background:#ff9800;
    border-radius:5px;
    border:0;
    cursor:pointer;
    color:black;
    font-size:24px;
    padding-top:10px;
    padding-bottom:10px;
    transition: all 0.3s;
    margin-top:-4px;
    font-weight:700;
  }
  [type="submit"]:hover { background:#ffeb3b; }


@media screen and (max-width: 990px){

.s1_left_side{
    width: 100%;
}

.s1_right_side{
    width: 100%;
}

}

/*====== end section 1 ========*/




/*====== section 2 ============*/

.section2{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

.s2_left_side{
  align-items: center;
  margin: auto;
  justify-content: center;
}
.s2_left_side_box > p{
  text-align: center;
}
.s2_left_side_box > img {
  margin: auto;
  max-width: 100%;
}
.s2_left_side_box{
  
}




.s2_right_side{
  align-items: center;
  margin: auto;
  margin-right: 200px;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  padding: 50px;
  box-sizing: border-box;
  box-shadow: 0px 1px 10px #333;
  border-radius: 20px;
  transition: 1s;

}

.s2_right_side:hover{
  padding: 70px;

}


.s2_right_side > span{
  color: #03267d;
}

  .count{
      width: 100px;
      height: 50px;
      font-size: 20px;
      /* background-color: #ff9800; */
      color:#ff9800;
      font-weight: bold;
      padding: 10px;
      margin: auto;
      text-align: center;
      transition: 1s;
  }

/*====== end section 2 ============*/




/*====== section 3 ============*/
 
.section3{
  max-width: 100%;
  margin: 0px;
  padding: 0px;
}

.shape1{
  width: 100%;
  /* height: 100px; */
  height: 100px;
  margin: 0;
  padding: 0;
}
